[2016-07-29 18:55] timfong888 opened #2 "got npm WARN when `npm install`"
[code]

[2016-07-29 18:58] tajo commented on #2
Is this during `npm install doca -g`  or later?
Does it lead to some errors? Since it's optional (warn), it should be fine.

[2016-07-29 18:59] terinjokes commented on #2
This is an OS X only dependency that will (harmlessly) fail on other operating systems. It's fine to ignore.

[2016-07-29 18:59] #2 closed, assigned to nobody

[2016-12-19 12:02] Relequestual opened #4 "`npm run build` fails if webpack isn't globally installed"
First, great tool! Thanks for your hard work on this!

I'm able to run the tool and start a node server with the example documentation, but I want to get the static files for my documentation.

Following the directions in the readme. I ran `npm run build`, but it fails...

[code]

I then installed webpack globally. I had to then clean the project, re-init, install, and then the command worked.

It

[2016-12-23 11:40] Relequestual opened #5 "Document support for API request headers"
I've been trying to evaluate document generators over the past few days.
[api-console](https://github.com/mulesoft/api-console) from Mulesoft generates from RAML, which supports headers. Also with RAML, you can specify authentication.
The API I'm working on expects keys in headers. It would be great to be able to be able to define this somehow. Such a definition would need to impact on the CURL re

[2016-12-23 11:44] Relequestual opened #6 "Colour code labels for HTTP request types"
It could be useful to colour code the HTTP request types. I would guess this is a theme issue, but to do it may require some change in the code and theming options, I don't know.

[2016-12-23 11:45] Relequestual opened #7 "Group actions on the same object / endpoint"
Having spent a while comparing doca with api-console, some things look rather nice about it.

Example page (may take a while to load) https://anypoint.mulesoft.com/apiplatform/popular/#/portals/organizations/52560d3f-c37a-409d-9887-79e0a9a9ecff/apis/5502/versions/5487/pages/30295

[2016-12-23 11:48] Relequestual opened #8 "Floating menu / sidebar"
The current Cloudflar API documentation looks great. I like the sidebar being seperate.
Currenty with doca, when I scorll, I then can't see the menu. A UI thing for sure.

[2016-12-23 11:49] Relequestual commented on #8
I'll add to this, it would be a bonus to have the sidebar highlight the section you're currently viewing, a la boostrap documentation.

[2016-12-23 19:44] handrews commented on #5
@Relequestual for the Cloudflare APIs we do have a schema for the headers and it is included in the docs at https://api.cloudflare.com/#getting-started-requests (you'll see the headers in the CURL examples as well)

I'll have to look at how that is done.  It might just be manually included in the build process, not sure.

[2016-12-23 19:53] handrews commented on #8
I want to get the default theme and the Cloudflare theme to functional parity.  We obviously don't want the default to carry Cloudflare branding, but I would like for the general UX to be the same.

[2016-12-23 20:08] handrews commented on #5
@davidjamesstone relevant to your interests, I believe :-)

[2016-12-23 20:08] handrews commented on #7
@Relequestual what in particular do you like about api-console's grouping?  I like that it is easier to see what actions are available at a glance, but dislike the emphasis on the URI template and feel that the tabbed nature still makes it difficult to grasp it all at once.  They've crammed a lot of information into each "card" but it's hard to recombine that into a holistic view.

[2016-12-23 22:17] handrews commented on #5
Note that the README for [our JSON Schema example loader](https://github.com/cloudflare/json-schema-example-loader) package shows how to set headers in a config file.  I'd still like to keep this issue open here as I'd like to ensure that this repo, as the entry point for the system, has all needed documentation.

Since doca does have header support, I'm going to change the title here to be about

[2016-12-24 03:51] handrews opened #9 "Support circular references (in order to remove "rel": "self" workaround)"
doca uses `"rel": "self"` within the `"schema"` and `"targetSchema"` schemas more or less like an internal `"$ref"` to the containing resource's schema.  But `"rel"` is properly only a keyword in the link description object, so we should switch this to a  normal `"$ref"`

[2016-12-24 04:05] handrews opened #10 "Use URI Template syntax for URI templates"
Currently we're using a PHP-ish ":", but given that hyper-schema is written using [RFC 6570 URI Templates](https://tools.ietf.org/html/rfc6570) we should stay consistent with that.

[2016-12-24 04:09] handrews commented on #10
This will be simpler if json-schema-org/json-schema-spec#228 gets into draft 6, as it will no longer be necessary to inline JSON Pointers into the templates in order to assign a schema for input validation.

[2016-12-24 04:10] handrews opened #11 "Eliminate "id"/"ID" workaround"
We're using a library that does not handle object properties named `"id"`, as it confuses them with the `"id"` schema keyword (which is not actually legal in that position so that's very much a bug).  We should move to a conforming implementation, and then we can drop our "ID" means "id" workaround.

[2016-12-24 04:22] handrews opened #12 "Support the "base" hyper-schema keyword"
The new `"base"` keyword in hyper-schema can take over what the doca config file's `"baseUrl"` currently does.

[2016-12-27 19:11] handrews commented on #6
@Relequestual for the moment I think it's fine to file bugs for all of the pieces here.

[2016-12-27 19:15] handrews opened #13 "Track all doca ecosystem-related issues in this repo?"
the overall doca system is (at least) four repositories:

* cloudflare/doca (this repository)
* [cloudflare/doca-bootstrap-theme](https://github.com/cloudflare/doca-bootstrap-theme)
* [cloudflare/json-schema-loader](https://github.com/cloudflare/json-schema-loader)
* [cloudflare/json-schema-example-loader](https://github.com/cloudflare/json-schema-example-loader)

While technically different issue

[2016-12-27 19:49] handrews opened #14 "Support "examples" from Draft 6"
`"examples"` will be an official part of JSON Schema in Draft 6, so we should use it in place of our current `"example"`.  Note that `"examples"` is always an array, and per the spec, any `"default"` can be treated as an additional example.

[2016-12-27 19:51] handrews opened #15 "Emphasize representation over request/response"
Currently doca (both the default bootstrap theme and the cloudflare theme) hides the core resource representation by default, requiring the user to find and click a "show" button.  The individual requests and responses are given the most prominent position.

I'd like to flip that, and put the main focus on the core representation.  For each allowed method, the documentation should focus on any dif

[2016-12-27 20:14] handrews opened #16 "Support "const" from Draft 6"

[2017-01-03 11:36] Relequestual commented on #5
Great, thanks @handrews for digging into this for me. Super helpful! =]

[2017-01-03 13:02] Relequestual commented on #7
It's easier to see at a glance which parts of CRUD are available for each object. I wouldn't say I was interested in the URI emphasis. With Doca, I can't tell what actions I can perform on an object at the same time.

The API I'm building will not have lots of routes with the same base, unlike the example. The routes are rather limited at current. I guess it would be much less of an issue if the l

[2017-01-03 13:03] Relequestual commented on #8
Right, that makes sense. I actually think that a seperated section with its own scrollbar works better... I sometimes find the bootstrap documentation menu to be annoying on smaller screens, unable to reach the lower parts when a section is expanded.

[2017-01-03 19:17] handrews commented on #7
@Relequestual thanks!  Yes, I want to rework the presentation to focus primarily on the representation of the resource, and then show HTTP method support in relation to that.  Currently the main representation is hidden under a button and the method requests/responses are laid out sequentially which makes them hard to see as a whole.

I also want Doca to present the minimum necessary documentation

[2017-01-03 19:21] handrews commented on #8
@Relequestual when you say separated section do you mean like the sidebar for https://api.cloudflare.com/ or something different?

[2017-01-03 19:44] toekneestuck commented on #13
Yep, this sounds good to me.

[2017-01-03 19:44] #13 closed, assigned to toekneestuck

[2017-01-04 09:16] Relequestual commented on #8
Yes, exactly that. I mean, having its own scrollbar. The Cloudflare API doocs look really neat. My only slight problem is that when scrolling the main docs, if the menu is scrolled to a different section, it is not refocused.

[2017-01-06 01:22] handrews commented on #15
This will somewhat help with #7 (group actions on the same resource) as well, by emphasizing a more concise resource definition and then linking/unfolding/whatever specific request details.

[2017-01-12 19:49] handrews opened #17 "Support nested objects"
Currently, if an object property is itself an object, the whole object schema is just shown as a JSON string instead of displaying some sort of nested table.

The workaround is to reference the nested object in an "allOf" or "oneOf", but this should work with inline nested objects as well.

This is similar to cloudflare/json-schema-docs-generator (@swamikevala) from our old docs system.

[2017-01-12 19:56] handrews opened #18 "Support "not" in a way that conveys useful information for humans"
While doca is not a validator, "not" can be used to express conditions that should appear in documentation.  This was requested for doca's predecessor project at cloudflare/json-schema-docs-generator#13.

We definitely do not want to just document the schema under "not" the same way we do schemas that express positive constraints.  There needs to be some thought on what is actually useful for huma

[2017-01-12 22:28] tajo opened #19 "Webpack 2"
Refresh node modules versions. Webpack 1 -> Webpack 2 can be especially tricky, we might need to update [json-schema-loader](https://github.com/cloudflare/json-schema-loader) and [json-schema-example-loader](https://github.com/cloudflare/json-schema-example-loader) as well.

[2017-01-12 22:29] tajo opened #20 "Add a diagram"
There are multiple packages as a part of this project. Let's add a diagram explaining how they relate.

[2017-01-17 19:18] tajo opened #22 "default: false is ignored"
[code]

doesn't show up in docs

but

[code]

does

[code]

as a workaround works but that's not correct

[2017-01-17 22:30] handrews opened #23 "Accept "JavaScript" (JSON + comments) as well as proper JSON"
The comment about comments in cloudflare/json-schema-loader#2 reminded me of this.

It's easier for humans to write and read YAML than JSON.  And writing JavaScript as basically JSON + comments is also something I see a lot.  We should allow schemas in either format.

[2017-01-17 22:50] tajo commented on #23
**Afaik, we support YAML now** (https://github.com/cloudflare/json-schema-loader/pull/1). I am not sure if https://github.com/epoberezkin/ajv does, if not we could use [yaml-loader](https://github.com/okonet/yaml-loader) to preprocess it. I still have to look more into ajv.

**Ad comments in JSONs:** I don't like it because that's not a valid json. Sure, you can preprocess it but you'll make it in

[2017-01-17 23:08] handrews commented on #23
@tajo LOL I should have checked.

JavaScript here is not really JavaScript in the sense of running code, I just mean a JavaScript file that looks like JSON + comments.  I see this a lot and it's come up in the JSON Schema spec discussions.  Apparently many people use JavaScript syntax so they can have comments and then strip out the comments before using it as actual JSON.

JSON + comments is not

[2017-01-17 23:10] handrews commented on #23
@tajo I don't feel strongly about the JavaScript thing.  I care about YAML, but JavaScript was just because I've heard it come up a few times.  You can feel free to close this if you'd rather, and it's definitely low priority.

[2017-01-18 19:44] #23 closed, assigned to nobody

[2017-01-19 11:57] wiggisser opened #25 "does not work in windows"
There are at least to issues that prevent doca from working on MS windows

1. The `schema.js` file generated by `doca init` contains wrong pathes, ie

[code]

There is a backslash missing, so the JSON files won't be found during build

2. The npm scripts `build` and `build:nojs` don't have a valid syntax for windows CMD. You must set an environment variable by `set SOMEVAR=value`. Further more thi

[2017-01-19 18:22] #20 closed, assigned to tajo

[2017-01-20 10:49] Relequestual commented on #4
This doesn't seem to be the case anymore. Has there been a new release where this has been fixed?

[2017-01-20 16:31] Relequestual commented on #4
I discovered, npm run build works if you do npm install first. I'll doubbly confirm this next week as I re-tweak my npm doc generation pipeline!

[2017-01-20 17:59] #19 closed, assigned to tajo

[2017-01-21 00:22] #22 closed, assigned to tajo

[2017-01-23 10:49] Relequestual commented on #4
Confirmed.

[2017-01-23 10:59] Relequestual opened #27 "Making changes to schemas.js"
I'm building a documentation pipeline with doca being a large part of it.

I've hit a snag. Your docs say you only run `doca init` once to bootstrap the project. Making the same call again just throws an error. However, there's no doca function to update and/or pull in new schemas from the parent folder.

The only way I can see this currently working is to remove the documentation folder, and re-r

[2017-01-23 19:32] tajo commented on #27
The behavior you describing is intentional. `doca init` is a destructive command because it overwrites your whole project. That's why it stops you and you have to manually delete your project first.

I'm assuming that once you've used it you should not ever needed again. In case **you are not doing any modifications** in your project (besides adding schemas), it's ok use it again but there is no r

[2017-01-23 19:34] handrews commented on #27
@Relequestual does that fit your workflow smoothly enough?  Is there a way we can make the documentation more clear?

[2017-01-24 09:28] Relequestual commented on #27
Thanks @tajo @handrews.
I wasn't expecting that to be how things behave. I've changed my code to anticipate this.
I should be able to make the script update the `./schemas.js` file as part of the workflow. It's just not something I want to do manually; all for as automated as possible.

My workflow currently runs build, then extracts the output to a different location. We don't want to run a node

[2017-01-24 09:28] #27 closed, assigned to nobody

[2017-01-24 09:29] Relequestual commented on #27
May be worth documenting that this is expected behaviour. It wasn't clear to me and I spent a half day trying to work it out (which part of the workflow wasn't working). Only figured it out when I inspected the doca code... =D

[2017-01-24 15:15] Relequestual opened #28 "Display of properties does not preserve order"
I would like my object definitions to appear in the order found in the schema files.
It makes sense to have the definitions for fields to be in the same order as the example object.

I notice the current CF documentation has this issue.
It looks like a theme issue from my limited understanding.

@handrews I know objects are unordered, so is this actually a JSON Hyper Schema issue? If we want JHS t

[2017-01-24 15:36] Relequestual commented on #28
I notice that the example object preserves the order of the properties. I believe it's down to https://github.com/cloudflare/json-schema-example-loader/blob/35d0b38488c6f34a34031cb61e3dc868c0450396/lib/example-data-extractor.js#L68, right?

[2017-01-24 16:01] handrews commented on #28
+1 to this, we should be loading into ordered maps or whatever the most convenient implementation is (I'm doing this on the Python side with OrderedDict, but that's not helping for documentation :-)

[2017-01-24 16:52] Relequestual commented on #28
This issue may need to be ignored... the map might actually already be ordered by default...

It seems that by adding examples, my example and properties are coming out in the order found in the schema.json file. Which is good, but strange given that the properties list for example objects on the actual CF API docs do not match in terms of ordering. I've tried it several times, and it's consistent

[2017-01-24 17:48] tajo commented on #28
Hm, I am not sure if we can actually guarantee the order based on properties since JS objects don't guarantee the order.

[2017-01-24 17:52] handrews commented on #28
@tajo at least in python this is handled by reading the JSON or YAML into a special OrderedDict class in place of regular dict (python dict == javascript object more or less).  The load methods in both libraries have hooks to substitute a different object for the standard one- I imagine someone must have done this for JavaScript by now.

[2017-01-24 18:25] tajo commented on #28
http://json.org/

If you need to preserve the order in JSONs (or JS), you should use an array.

[2017-01-24 18:48] handrews commented on #28
We're not talking about the data model here, we're talking about presentation.  If I list object members in a schema in a particular order, I want the documentation to _consistently_ show those object members in that same order.

Native JS objects don't do that, but there are these things called libraries, you know :-)

Example (I have not even vaguely checked that this is suitable for us, just po

[2017-01-26 09:37] Relequestual commented on #28
I agree that an object is an ordered list of key value pairs. It's usually phrased that you should not expect the order to be preserved, especially when looping. I would guess this is for speed. However as @handrews points out, this is a presentation issue, and there IS support for preserving order of JSON objects.

As I said in my earlier comment, one of the packages is already doing this by loop

[2017-01-26 14:40] Relequestual commented on #28
I've confirmed multiple times. If there is an example object given, all the key / value pairing is the same as the original json document, and consiently displayed. SO, it's just ouputting the json document in the right order to resolve this issue (for me).

I'm not sure if you expect someone to use doca without having an example object, but yet list the properties. If you might, then this is stil

[2017-01-26 17:16] Relequestual opened #29 "POST schema with type of array results in no parameters or data in cURL request"
The root of my POST schema is an array object type. The resulting parameters for the request are blank in the finished documentation.

[code]

vs

[code]

Sorry I've just realised I've given this in perl hash format rather than json, but you get the idea.

[2017-01-26 17:19] Relequestual commented on #29
In addition, as a thought, how does splitting required and optional work in the instance where you have `oneOf`? I guess for the sake of the docs, I'll have to include something in the description, but it makes it somewhat complex.

[2017-01-26 18:15] tajo commented on #28
Well, I did a bit research. I haven't found any JS library that would solve this. [Just](http://stackoverflow.com/questions/10034655/how-to-maintain-order-when-parsing-json-from-javascript) a [lot](http://stackoverflow.com/questions/21429008/parsing-a-json-string-while-preserving-the-original-order-of-keys) of [negative](http://stackoverflow.com/questions/32006162/keep-order-of-objects-inside-a-js

[2017-01-26 19:59] handrews commented on #28
Let's put this on hold.  At some point we will be looking at which JSON Schema libraries we use as new drafts come out.  It may be easier to deal with then.

There are other options we can consider, such as reading the file once and building up that ordering array automatically, but that is more effort than I want to spend on this right now.

[2017-01-27 12:02] Relequestual commented on #28
Thanks for digging a little.

Having a further think on this, maybe the only reasonable solution would be to extend the functionality of the doca config.js file.

An object with keys of the schema files, with an array of the order of the properties keys.
`schema_name => array [ order of properties ]`

I mean, given I'm generating the schemas, and I have the information, this doesn't seem like an u

[2017-01-27 12:07] Relequestual opened #30 "`oneOf` for property values results in blank definitions"
I currently have a part of my docs which looks like the following:

![screen shot 2017-01-27 at 12 04 35](https://cloud.githubusercontent.com/assets/731158/22370334/d217ae80-e488-11e6-8d5c-17673f2ebb49.png)

I'm going to try using "oneOf" with two different data types, seperating the strings and numbers, and using min/max for numbers, but I don't know how that will come out in the docs (if at all)

[2017-01-27 14:09] Relequestual commented on #30
Nope. That didn't work. CLOSE though...
![screen shot 2017-01-27 at 14 08 47](https://cloud.githubusercontent.com/assets/731158/22373559/334f0926-e49a-11e6-89d4-d0e327d570b5.png)

[2017-01-27 14:27] Relequestual commented on #30
I also tried...
[code]

This almost worked, but only the first type was shown, and not the other type.

While our field is actually a string, the min and max validation would be run unless type has integer (or number). Enum may be of multiple types.

I'll file a new issue for displaying multiple types.

[2017-01-27 14:29] Relequestual opened #31 "Multiple types not clear in object definition"
It's possible for there to be multiple types for a property.
~~Only the first type is shown in the documentation when the type is an array.~~
_EDIT_: I though that only the first type was shown, but both are, just without any sort of spacing... so I have a "stirngnull".
![screen shot 2017-01-30 at 14 36 15](https://cloud.githubusercontent.com/assets/731158/22427046/7c11c84a-e6f9-11e6-95f0-659d9e3c

[2017-01-27 16:28] handrews commented on #30
@Relequestual sounds good on the issue for multiple types.

I think I'm missing something here for this issue, though- how and why should doca detect that the contents of an "enum" are a range?  Are you asking for it to display that situation as if it were min/max?

[2017-01-28 00:30] handrews opened #32 "Support media types other than application/json"
It's possible to specify requests/responses of other media types, but we need to design a way to usefully convey that in the generated documentation.

We don't need to support documenting the details of such requests and responses, just that they exist and use a specific media type (e.g. text/plain, text/x-yaml, application/octet-stream, etc.)

@mahtin this is relevant to your interests.

[2017-01-30 11:12] vineet-78 opened #33 "npm start command failes on windows 7 64 bit"
I get this error on running npm start command

D:\doca\example\documentation>npm start

'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v6.9.4
npm ERR! npm  v3.10.10
npm ERR! code ELI

[2017-01-30 12:13] wiggisser commented on #33
seems to be a duplicate of #25

[2017-01-30 12:34] vineet-78 commented on #33
i set the NODE_ENV to either development or production
and removed NODE_ENV from commands defined in scripts in package.json file like this after having set the NODE_ENV:
  "scripts": {
    "clean": "rm -rf build",
    "start": "node webpack/index | node src/server",
    "build": "npm run clean && webpack --config webpack/config.prod.withjs.babel.js && rm build/static-*",
    "build:nojs": "npm ru

[2017-01-30 13:49] Relequestual commented on #30
You're right, that would be silly, and on reflection, isn't what I want.
I'll re-title this issue to be "support oneOf for property values" or something.

[2017-01-30 16:05] Relequestual opened #34 "How do I create a new theme without publishing to npm?"
The theme docs say the easiest way to create a new theme is to fork the project, but provide no further information.

It seems unlikely that I'm expected to publish an npm module every time I make a change. I really don't know how I'm supposed to develop and test a new theme. The docs expect I should already know how to do this...

[2017-01-30 18:20] tajo commented on #34
Checkout the README of https://github.com/cloudflare/doca-bootstrap-theme, it expects that you are comfortable with:
- basics of React
- CSS

Why not? We publish a new version of our private `doca-cf-theme` with every single change as well.

[2017-01-30 18:40] tajo commented on #33
There is already a PR fixing windows issues: https://github.com/cloudflare/doca/pull/26

[2017-01-30 18:40] #33 closed, assigned to nobody

[2017-01-30 19:09] handrews commented on #34
@tajo not everyone sets up their own local npm server I'm guessing.

[2017-01-30 19:13] tajo commented on #34
That's understandable, I think npmjs.com provides ~free~ [private modules](https://docs.npmjs.com/private-modules/intro) now. They also have an [enterprise solution](https://www.npmjs.com/enterprise). Also, you can just npm install directly from git repository (but using a npm server is definitely better).

[2017-01-31 12:00] Relequestual commented on #34
I didn't even realise you COULD have local npm servers till yesterday... I don't have suffeciant privlidges to spin up new machines at whim here.

I'm new to node, npm, and React. I'm happy to learn though. I will defintaly be wanting to make a number of pull requests in the very near future!

[2017-01-31 14:18] Relequestual commented on #34
It doens't look like npmjs.com is offering free private modules.

I'll investigate alternative solutions =] Thanks.

[2017-01-31 18:16] #34 closed, assigned to nobody

[2017-02-01 10:11] Relequestual commented on #34
@handrews is it really reasonable to expect people to publish every single to change they make for testing to npm in order to make a new theme? If so, I'll keep this issue closed... (Although it seems I can't re-open it anyway... =/ )

[2017-02-01 11:54] Relequestual opened #35 "Valid values with commas make the values unclear"
In the instance where valid values have commas, it becoms unclear if a comma is a breaking character or part of the value.
Example:

![screen shot 2017-02-01 at 11 51 32](https://cloud.githubusercontent.com/assets/731158/22505756/0d84a636-e875-11e6-9d6a-8c6f90ea33a9.png)

I don't know if quotes or some sort of highlighting would be better.

[2017-02-01 16:25] handrews commented on #35
We should fix this along with #14 (switching from "example" to "examples" for Draft 06)

[2017-02-01 17:12] tajo commented on #34
@Relequestual If you are doing a theme from scratch I would recommend to copy&paste it into the main project, so you'll get automatic hot reloading - it speeds up the development a lot. Then, you extract it into a different module.

What I am usually doing is [npm link](https://docs.npmjs.com/cli/link) (It works great with node 7 and npm 4). When you make a change in your theme components, you jus

[2017-02-02 01:31] tajo opened #36 "Create a github page with demo of doca"
People should be able to play with our documentation generated by doca-boostrap-theme (based on cart.json and item.json).

[2017-02-02 14:15] Relequestual commented on #34
OK. That was what I was trying to understand.
I'm not sure HOW I intend to develop a new theme yet... I may take a few existing components...
Thanks for your help on this! =]

[2017-02-02 14:18] Relequestual commented on #35
Actually... regarding #14 I err would say it depends.

I still want to use the JSON Schema documents I generate to give to devs alongside the resulting HTML documentation. I don't want to give them draft-6 versions when there's no tooling for it.

I realise `examples` probably wouldn't interact with tooling much.
Could doca still support draft-4 while also supporting draft-6?

[2017-02-03 09:15] eesdil opened #37 "Lower Case for object keys"
Is there any reason why you are lower casing the keys of the object by default?

[2017-02-03 10:51] Relequestual opened #38 "Changelog is missing"
Can we have a changelog please? =]
http://keepachangelog.com

[2017-02-03 10:54] Relequestual commented on #8
Closing this because the above PR is merged. New theme!

[2017-02-03 10:54] #8 closed, assigned to tajo

[2017-02-03 16:33] Relequestual commented on #31
I tried to fix this by editing https://github.com/cloudflare/doca-bootstrap-theme/blob/master/components/objectDefinitionTable.js#L31
to read

`<small><em>{List.isList(definition.get('type')) ? definition.get('type').entrySeq().join(', ') : definition.get('type')}</em></small>`

But it caused an error: `ERROR in ReferenceError: List is not defined`

I used the immutable.js documentation.

@tajo Wa

[2017-02-03 17:54] tajo commented on #31
Most likely you are missing

[code]

at the beginning

[2017-02-03 17:57] tajo commented on #38
Yea, we should do it. I'm usually doing release notes for major versions where I am describing BC breaks but it would be nice to keep a changelog for minors and hotfixes as well.

[2017-02-06 09:27] Relequestual commented on #31
Yeah that works... doh. I kinda assumed it would be already required via a dependancy.
And as such, I'll be submittng my first PR.

[2017-02-06 16:44] Relequestual opened #39 "How to add a dependancy to a theme?"
I've started trying to work on a theme.

I checked out the doca theme at the bootstrap commit, as it will allow us to apply our styling and colours over the top of bootstrap like the rest of our application.

I wanted to update the version of bootstrap, and remove the use of using a cdn in favour of bundling the bootstrap css in with the rest of the minified file.

I added bootstrap as a dependanc

[2017-02-06 18:54] tajo commented on #39
Ok, this is a bit tricky. You can't simply import (require) css files into your theme since the theme itself lives in `node_modules` and it is not the part of main application. Btw, this CSS importing is pretty special thing, known as CSS Modules, and its Webpack specific (it wouldn't work with different bundlers). But Webpack lives in your main application and can handle these imports only if the

[2017-02-07 15:21] Relequestual commented on #39
Right. OK I think I almost worked that out, but wasn't quite clear if it was the expected way to do it.
I noticed the automagic line... What happens with reqCSS? (Documentation is a great skill to learn btw ;) )

I've tried to have several css files in the styles directory, and it only picks up 2 out of 3, which is really weird. If I only include one, it always picks up that one, so it's not somet

[2017-02-08 01:30] tajo commented on #39
- `reqCSS` creates a context (tells webpack where to look for requires)
- `keys()` iterates all files matching that context
- `foreach(...)` require every file from and with that context

This is a darker side of webpack - complex and not well understood. There is some legacy [documentation](https://webpack.github.io/docs/context.html) about it.

I'm not sure why it doesn't load and extract all fi

[2017-02-08 09:43] Relequestual commented on #39
Thanks @tajo, I'll do that for now till it's something you can find to investigate. Would you like me to open a new issue for not loading all the files?

~~Yeah, I did find that documentation, and plenty of examples, but nothing that satisfactorily explained to me how it works. I understand reqCSS and keys(), but how exactly is forEach() requiering the stuff from keys? I understand it IS doing tha

[2017-02-08 18:19] tajo commented on #39
Feel free to open a different issue.

[2017-02-08 18:19] #39 closed, assigned to nobody

[2017-02-09 09:18] Relequestual opened #40 "Webpack process only picks up some of the css files in a theme"
When creating a theme with multiple css files in the styles folder, not all of them are always pick up and included.

Noted at https://github.com/cloudflare/doca/issues/39#issuecomment-278031709

[2017-02-09 15:02] Relequestual opened #41 "cloudflare/doca-bootstrap-theme is no longer a bootstrap based theme"
I wanted to post an issue or two about https://github.com/cloudflare/doca-bootstrap-theme, however it's not possible.

I've started work on an updated version of the bootstrap theme.
The recent changes you have made make it no longer a bootstrap theme.

I would guess you may want to create a new theme repo for the new theme, and migrate code over, and then make that the default theme for doca. I w

[2017-02-09 15:50] handrews commented on #41
@Relequestual just file those issues here.  I turned off issues on all of the constituent doca repos because figuring out which issues went where was a.) confusing and b.) made it hard to get a feel for the overall set of issues applying to doca.

[2017-02-09 17:15] Relequestual opened #42 "Example usage does not work"
While developing a theme, I've been only making static versions of the documentation. Now I'm ready to do a lot more work on this theme, I wanted to try hot reload, as I worked out I COULD actually run a node server on our dev machines.

I tried to run with my modifications. It loaded and supplied content, but the page was blank. I tried using the example usage found in the readme, from scratch. E

[2017-02-09 18:08] tajo commented on #42
I don't recommend to try make the hot reloading work from a remote server, keep it on your localhost.

[2017-02-09 18:44] tajo commented on #37
Fixed via https://github.com/cloudflare/doca-bootstrap-theme/pull/2.

[2017-02-09 18:44] #37 closed, assigned to nobody

[2017-02-09 18:47] #31 closed, assigned to nobody

[2017-02-09 18:49] #41 closed, assigned to nobody

[2017-02-13 09:48] Relequestual commented on #41
@tajo How did you resolve this issue?

[2017-02-13 09:54] Relequestual commented on #42
@tajo That's not a viable option for us. Some work on windows, and we need to make sure our we always develop to the same envrionment anyway.

When I first started, I wasted a lot of time trying to get things to work locally which then wouldn't work on our servers. We, personally, don't have total control over the servers we work on, so we can't just upgrade versions at will.

[2017-02-13 11:22] Relequestual commented on #42
This is a local issue. The first server works, but the second server is not accessible through our proxies / firewalls etc. I could wget the build/app.js url that was in the source of the response from the first server.

As such I'm closing this issue. I'll update with info if I think it's generic enough to help anyone else, but seems unlikely.

[2017-02-13 13:08] #42 closed, assigned to nobody

[2017-02-13 13:44] Relequestual commented on #42
OK, it was more my missconfigruation...
All that you need to update with regards to the domain name that will be running the dev server is `src/server/html.js` after you've done a `doca init`. Wasted a bit of time trying to figure it out, but is now fine. AND if you DO edit that script tag src, remember to include the right port (which I think is what I was missing or getting wrong in my haste).

[2017-02-13 16:46] Relequestual commented on #42
I'm made some small progress. I can start and run the server and it mostly works OK. I can edit a schema, but hot-reload doesn't seem update the content without requiering a refresh of the page. Is this intended? It may be just because I've been reading about it, but shouldn't the content reload for just the part that has change and not require a full page refresh?

[2017-02-13 16:59] tajo commented on #41
What's the issue?

[2017-02-13 18:02] handrews commented on #42
Should there be an update to the README?

[2017-02-13 18:07] tajo commented on #42
It should not require a full page refresh. This is why I recommend to develop locally. HMR is a complex thing to setup (different port, websockets...). If you find out a solution that works everywhere, please send a PR but this is not something we are going to support.

[2017-02-14 09:48] Relequestual commented on #42
@handrews It depends, if it's not supported, then updated documentation as such. If it is something you might support, then it's OK to say it's not YET supported and you're happy to accept pull requetss.

@tajo Many aren't able to work locally. This is not an uncommon workflow, especially when you work in a larger organisation. It would be a shame to say you blanket won't support this, rather than

[2017-02-14 10:53] Relequestual commented on #41
I was thinking it wasn't really a bootstrap theme anymore, but more a modified bootstrap theme.

I think people would want bootstrap markup in order to use their own colours, while now this theme uses new classes it has defined for a number of colour definitions for example.

It feels like it's more a bootstrap based theme rather than an actual bootstrap theme now. While there's no problem with th

[2017-02-14 10:54] Relequestual commented on #41
Also, when closing issues, it would be great if you could explain your reason for closing rather than just closing them. EVEN when it seems obvious to you, it may not be to others. =]

[2017-02-14 15:59] handrews commented on #41
@Relequestual I didn't speak with @tajo about this but I'm guessing he interpreted my "just file those issues here" as meaning that whatever those one or two things were, you would file them in their own issues so we wouldn't need this issue (which seems to be about maybe filing other issues?)

I would prefer to see whatever concerns are being vaguely referenced here to each get their own issue.

[2017-02-14 18:08] tajo commented on #42
What I meant I'm happy to accept PRs that will bring some fixes in this direction (as far as it doesn't conflict with the current localhost DX) but I don't want to declare the support because then people will start creating the whole category of issues that's hard to deal with.

What prevents you to use this locally? There is an open PR with windows support and it should work on macOS / Linux with

[2017-02-14 18:30] handrews commented on #42
@tajo let's talk with @toekneestuck about how to position our support levels for the doca suite.  It is a very good thing to avoid committing to support that we don't need but let's figure out a way to manage contributed features that enhance the project even if we don't need them.

@tajo I don't know if this is @Relequestual's situation, but it is very common for development and testing to need t

[2017-02-14 18:49] tajo commented on #42
Just to be clear, the development mode with hot module replacement is an extra convenience thing for developers, it's not meant to be used locally and it's [experimental](https://webpack.github.io/docs/hot-module-replacement-with-webpack.html):

The command that you should always use to test for production is `npm run build`. You don't need to use `npm start` at all. Also note that it puts togethe

[2017-02-15 00:55] iToto commented on #17
I'm also coming across this issue. Trying to define an array of a custom object and when the array is shown we lose the definition of the custom object (which is quite important). Currently there is no way to show the definition of that object without adding it as another property.

[2017-02-15 09:09] Relequestual commented on #41
Yeah, that's fair enough. You're right, I'm being far too vague... I'll wait till I have some actual examples. I'll continue to work on my version of a bootstrap theme =]

[2017-02-15 09:25] Relequestual commented on #42
Thanks! I suspected as much, but that's useful to confirm.

Sure, I wouldn't want to make any PRs that would interfere with how it's currently expected to work, just making a few bits configureable. I should be submitting at least 1 PR this week.

My long term plan is to expand the current config file to have more functionlaity (like setting the host name). I could go into more details for my plan

[2017-02-15 22:51] tajo commented on #42
I don't have problems to discuss things over email (the github one is ok to use) but I think that anyone can benefit if it's kept public.

Environment variables are a great way how to do it.

[2017-02-17 22:19] handrews opened #43 "enums need not be of homogenous type"
In json-schema-example-loader, we infer the type from the first entry in the enum.

This is not correct- the `"enum"` keyword can mix instance types.  To convey a type restriction, schema authors must use the `"type"` keyword.

In the absence of `"type"` we may want to try to detect the types, but we need to examine all elements in the enum.

[2017-02-17 22:35] handrews commented on #43
Actually we currently override `"type"` with the type of the first `"enum"` element which is definitely incorrect.  If an enum entry disagrees with `"type"` then that enum entry is never valid (this can be useful in relatively complicated `"allOf"` uses)

[2017-02-22 10:41] Relequestual commented on #43
Just got hit by this bug... =[ This is not draft-6 specific, applies also to draft-4.

I guess I'll have to patch it locally and submit a PR =/

Also, slightly confused. I thought json-schema-example-loader only generated the EXAMPLE json for a given schema... I didn't realise it had anything to do with setting other information (which is why I wasn't able to locate this code =/ )

[2017-02-22 11:08] Relequestual commented on #43
Specifically, for further justification that this is not OK: Type may be string and null. Null gets removed.

[2017-02-22 11:37] Relequestual commented on #43
I even wrote tests =D

[2017-02-22 16:37] Relequestual commented on #35
Incoming PR for this one... =]

[2017-02-22 16:39] Relequestual commented on #35
I also discovered that a `null` value comes out as empty string... fixing that also.

[2017-02-23 11:59] Relequestual opened #44 "Add linter / formatter to travisci config"
If linting needs to pass for Pull Requests to be accepted, it would be awesome to see this in the PR and save everyone some time.

Looks like it's possible by using something like https://www.npmjs.com/package/travis-github-lint-status

I may try make a PR for this, but don't know if it will work or not (as in, if it will run the travis ci config file from the PR side)... one way to find out!

[2017-02-23 12:04] Relequestual opened #45 "Tag future releases on github also?"
I was trying to view the code for doca and associated modules at a specific release. Turns out there's no view to do this on npm or using npm, other than to npm install that version you want to view. If you tagged releases on github, it would make it easier to find the state of the code at a specific release in a more meaningful way. =]

[2017-02-23 19:09] tajo commented on #45
Agree. I usually always create tags for releases. Somehow I was sloppy with doca repos. I will do better!

[2017-02-23 19:09] #45 closed, assigned to nobody

[2017-02-23 19:09] #43 closed, assigned to nobody

[2017-02-23 19:12] tajo commented on #44
We are currently switching all our JS projects to [prettier](https://github.com/prettier/prettier). I will take care of travis once that is done.

[2017-02-23 19:14] tajo commented on #44
I just turned Travis on for all doca repos. It should work. If not, I'll fix it later.

[2017-02-24 09:35] Relequestual commented on #44
Interesting! Thanks for the info. Fair enough =] I'll modify the title.

[2017-02-27 10:03] Relequestual opened #46 "Change config to be a json file"
Other applications or tools may want to write to the configuration file provided. They may also want to read from it using another language!

It sure would be easier if it was json a json file.

[2017-03-01 10:03] Relequestual opened #47 "Table width differs between required and optional params"
If you have both required and optional params for a route, the column widths for the two tables can differ if you do not wish to use the same fixed width for all object definition tables.

[2017-03-01 10:08] Relequestual commented on #47
I have fixed this with https://github.com/Relequestual/doca-bootstrap-theme/commit/24aa8e7f6fbed36cb2f9d574f0c96b484ababdef however I haven't had the time to reformat it to a Pull Request for this repo.

[2017-03-03 23:48] handrews commented on #46
@Relequestual are you talking about this config file?
https://github.com/cloudflare/doca/blob/master/app/config.js

[2017-03-03 23:54] tajo commented on #46
@Relequestual You can use a custom json file and reexport it in config.js.

I prefer JS configs over json because of flexibility.

[2017-03-03 23:58] handrews commented on #46
@tajo can you elaborate?  Is this "JSON doesn't have comments and JavaScript does" kind of flexibility, or is this "I want to be able to stuff running code in the config file"?

[2017-03-05 11:27] nomasprime commented on #17
Don't know if this helps but I found this in the Cloudflare API docs: https://api.cloudflare.com/#user-level-firewall-access-rule-create-access-rule. Under description it says "Show definition".

Does anyone know if/how this can be outputted from Doca?

[2017-03-05 11:46] phyrog commented on #17
@habitullence You can wrap the nested object in `oneOf`, as @handrews suggested. Semantically it's the same, although of course a bit ugly.

[code]

[2017-03-05 12:06] nomasprime commented on #17
@phyrog, was trying `allOf` but `oneOf` works. Only problem is I can't get more than one level: I'm trying to show the definition of `attributes` in JSON API.

Really appreciate you coming back to me so quickly, having to work on a Sunday isn't great. Thank you 🙂

[2017-03-05 12:16] nomasprime commented on #17
Another solution would be to have `attributes` at the top level but then wrap this schema for the curl example. Does anyone know how to do that?

[2017-03-05 20:27] handrews commented on #17
@habitullence I don't have any other advice right now, but I am planning this week to sit down with @tajo and @toekneestuck and work out a road map for doca.  This will incorporate feedback from these GitHub issues, emails from users, and other sources.  I'm not promising any strict schedules here, but I want to communicate direction and priority more clearly.

Plus we will be working on our own n

[2017-03-06 09:47] Relequestual commented on #46
I don't know what you mean by this. Can you explain? =]

I want to be able to manage my json file from perl, because that's where the information I need will be located. Currently I'm editing it manually, which isn't maintainable in the long run.

[2017-03-06 16:36] nomasprime commented on #17
@handrews that's fantastic news and thank you so much for Doca.

I've tried several tools for documenting APIs and this is where it's at. Will definitely be using for future projects and supporting where I can.

Apart from nested objects, I can't really find much wrong with it.

I hope Doca focuses on docs though rather than bells like a built-in client, like some other tools, because devs usually

[2017-03-06 17:21] Relequestual commented on #28
OK. So I have spent a LOT of time working on this...
I have a solution for if you include in your json an array of properties in the order you want them.

https://gist.github.com/Relequestual/95a74a0a81aa20e8536fcc9e083ef0f2

I'm not sure if this is the best solution, and I feel it probably wants to be solved upstream (Possibly in the example loader? That's where the morphing and setting all_props

[2017-03-06 18:06] tajo commented on #28
Yea, that's the right direction if you want to solve this issue. Agree that is should be more upstream and I think it can be simplified too.

[2017-03-06 18:15] tajo commented on #46
Both. :) All FE tools have JS configs now. Sometimes it's really helpful for things like "list all files in this directory".

config.json

[code]

config.js

[code]

[2017-03-06 18:16] handrews commented on #17
@habitullence credit for the project goes to @tajo :-)  I'm working on the larger Cloudflare API tool set including how doca fits in to our strategy.

We will keep doca focused on static documentation.  We do plan to produce a JavaScript hyperclient, but it will be a separate library.  I would like for doca and the hyperclient to ultimately used the same JSON Hyper-Schema library (still to be deve

[2017-03-06 19:47] handrews commented on #46
This comes down to what level of accessibility we want to provide for non-JavaScript environments, as doca is not exclusively used from front-end JavaScript code.  I'm OK with JS things that are only used from within JS having JS configurations, but doca has an external interface.

If we actually need a JavaScript config because of a need to run code, then I would like to see a standard mechanism

[2017-03-06 20:01] handrews commented on #28
I'm still really strongly against maintaining a separate array for ordering.  If we need to work out an ordering list somewhere, then at the point where we read the file, we should read the field ordering and construct any necessary ordering array.

If no one has solved this problem (which is baffling to me- it's not hard and it's been solved in Python for many, many years now) then we should solv

[2017-03-07 09:49] Relequestual commented on #28
@tajo Great. I'm going to use this solution in our theme for now (even if it's not optimal, because I need to move on for now), and change it when a solution is implemented more up stream.

[2017-03-07 09:56] Relequestual commented on #28
@handrews At first, I dissagreed with you, but after reading, I partially agree. It would indeed be nuts to maintain many many arrays nested all over the place.

However, with Perl, it's a LOT easier to include an array of ordered field names than to order the JSON output. It's not impossible, but pretty tricky.

I see no harm in supporting it as an option, to override the given order, as I expect

[2017-03-07 10:37] Relequestual commented on #46
@tajo OH, OK.

I do agree with @handrews assessment though.
Currently there's no evidence of code running as part of the config (it's all static). If there's a good use case, then fine by me, assuming we address the issue @handrews raises.

[2017-03-08 15:51] Relequestual commented on #46
I wanted to load some markdown text into the top section of the resulting documentation as an introduction. I can use MarkdownPreview (already included) and node module markdown-toc to update the menu. However loading the markdown content into the config from a file is not so easy.

---

I tried to load in some markdown content from a file into the config. Turns out this is more difficult that I a

[2017-03-08 18:20] tajo commented on #46
@Relequestual sounds like something that [markdown-loader](https://github.com/peerigon/markdown-loader) would be great for.

[2017-03-09 16:37] Relequestual commented on #46
No idea how I would even start using that. Why don't their examples actually show you how to use it rather than assuming so much?

I've spent today trying to get the titles from my markdown into the sidebar. DO NOT try to use markdown-toc with webpack, it's all but impossible. There are people who claim they have made it work. I have tried. It does not. I cannot. I tried using unlazy in the webpac

[2017-03-09 18:18] tajo commented on #46
`markdown-loader` outputs html, so you need to chain it with `html-loader` (to get a module) and then you can do something like this

[code]

[2017-03-10 09:31] Relequestual commented on #46
Interesting. I'm going to continue to load the markdown now as I want to use it to generate additional menu items, but that's useful to know, thanks.

[2017-03-10 09:31] Relequestual commented on #46
Sorry this issue has turned into a bit of a discussion thread... It's a shame we don't have a doca slack (even if it would be low traffic) to avoid cluttering issues =]

[2017-03-12 03:07] handrews opened #48 "Publish doca roadmap (with requirements)"
We are currently collecting requirements internally and via issues here for doca, and will be putting together a loose road map for the project.  We should publish some form of that on the wiki here for community feedback and input.  I'm filing this mostly to let people know it's a thing :-)

Of the top of my head, without factoring the requirements-gathering that's just started, I expect somethin

[2017-03-12 03:22] handrews commented on #48
Paging @Relequestual, @habitullence, and (because we're likely to move to [Ajv](https://github.com/epoberezkin/ajv) instead of the existing 3rd-party parser library to fix #11, get Draft 06 support, and other reasons) @epoberezkin

[2017-03-13 09:40] Relequestual commented on #48
Looks like the start of a plan! Great stuff. You already have my feedback prior to properly using it. Pretty much the same.
Still getting the hang of node and webpack... =]

[2017-03-24 11:04] Relequestual commented on #44
Still planning to work on moving to prettier?
I tested adding a travis CI badge to my fork. Looks ok. Also I triggered TCI to run tests, which came back OK. Any reason to not enable TCI for this repo?

[2017-03-27 09:02] Relequestual commented on #40
I think I found the cause of this problem!
I had installed bootstrap, but removed the font files.
The CSS loader had a problem when it couldn't find the fonts, and died, without saying a word.
I only noticed this when I restarted the server in development mode and saw it in the console while it was trying to reload modules.
Added the fonts back, no problem.

I still came across a load order issue,

[2017-03-28 13:49] wmonk opened #49 "[json-schema-loader] Breaks Webpack 2"
As per the most recent commit - https://github.com/cloudflare/json-schema-loader/commit/2e75f223a77c987b66e98d054c3018d3e64f93dc - this now breaks for webpack 2.

The docs specify that `callback` should be invoked with a second argument that looks like a sourcemap, not an arbitrary type. https://webpack.js.org/api/loaders/#this-callback.

We are able to use `0.0.3` and it works, but you might want

[2017-03-29 14:41] Relequestual commented on #40
Added another CSS file. Still have the problem where it's not picked up at...
`require.context('doca-bootstrap-theme/styles', true, /\.css$/ig);`
main.js

[2017-04-06 09:00] Relequestual opened #50 "Boolean type with default value does not display default value"
If I have a bollean type which has a default value of `true` or `false`, empty string is displayed.

[2017-04-19 03:26] #29 closed, assigned to nobody

[2017-04-19 09:23] Relequestual commented on #29
Great! Thanks for the merge.
Any idea when a new release can be expected with a new release of json-schema-example-loader ? =]

[2017-04-19 17:23] #35 closed, assigned to nobody

[2017-05-01 00:19] handrews commented on #11
This seems to have been fixed upstream in the library.  Need to verify, but we can probably just take the hack out now.

[2017-05-02 03:59] handrews opened #51 "Support more than one of allOf/anyOf/oneOf in the same schema"
object-definition.js in json-schema-example-loader uses else-ifs and ||s when examining schemas for these keywords, meaning that only one will be respected (allOf if present, then oneOf, finally anyOf if neither of the others are present).

[2017-05-02 04:02] handrews opened #52 "Fix "additionalProperties" support"
It is currently implemented mostly like "properties" but with the additional ability to merge into the results of an adjacent allOf/oneOf/anyOf.  However, per the spec, "properties" already behaves this way (adjacent schema keywords are effectively an additional branch of an implicit allOf anyway).  And "additionalProperties" takes a single schema, not a set of names.

This is a json-schema-exampl

[2017-05-02 04:04] handrews commented on #48
Getting back to this now and working on improving compliance with draft-04.

[2017-05-02 04:06] handrews commented on #52
Part of this is also in json-schema-example-loader's example-data-extractor.js

[2017-05-02 05:58] handrews opened #53 "Document intentionally unsupported features from draft-04"
There are definitely hyper-schema features from draft-04 that we will not support as they were removed in the next draft for lack of use case, or replaced with more straightforward alternatives (which we may actually support as extensions to draft-04, but that's for other issues to document).

Off the top of my head, I see no reason to support:
* `"fragmentResolution"`
* `"pathStart"`
* the "root"

[2017-05-02 06:27] handrews commented on #53
Other examples are complex situations such as

[code]

which is equivalent to

[code]

but doing the schema algebra to work that out is nontrivial in the general case, particularly if there are nested structures, or actual schemas in "additionalProperties" instead of just `false`.  In general, "additionalProperties" and "allOf" don't mix well.

[2017-05-03 00:13] handrews commented on #17
@nomasprime @phyrog @sotte @marqu3z @paulgoetze (and anyone)

No specific timeline on this, but I am starting to work on (as opposed to just planning) doca stuff.  If you have ideas on how nested objects should be handled, I'd love to hear them.  Options include:

* nested tables, always displayed
* nested tables that start collapsed
* flat table, showing nesting by some sort of name punctuation (

[2017-05-03 18:08] phyrog commented on #17
@handrews my thoughts on the options:

- *nested tables, always displayed*: intuitive, but takes up too much space, depending on the depth of the nesting could become problematic widthwise
- *nested tables that start collapsed*: also intuitive, same width problem as above, uses less vertical space by default, which is nice
- *flat table*: not as visually intuitive, could become tedious to look up

[2017-05-05 23:03] handrews opened #54 "link request "required" at LDO level overrides "schema" level"
We would copy "required" from the LDO level into the parameters object (even if it was undefined), instead of just using the one in "schema".

Posted a PR before filing the issue: cloudflare/json-schema-example-loader#5

@Relequestual (or anyone) were you relying on this?  We will bump the version number before publishing this, but I might have some other fixes before then.

[2017-05-06 08:12] handrews commented on #9
The problem here is that while json-schema-ref-parser (3rd party) supports circular references, json-schema-loader (ours) serializes the results in a way that does not.  Fixing this will require a significantly different approach, but a necessary one as circular references are quite useful in JSON Schema and should be supported in general.

[2017-05-07 02:49] handrews commented on #9
As it turns out, PR cloudflare/json-schema-loader#3 from @justmoon will fix the failure of circular references to even load.  Additional work is needed in json-schema-example-loader to avoid infinite loops.

[2017-05-07 20:09] handrews commented on #30
I think this is a bug in the bootstrap theme, as we have "oneOf" examples in the Cloudflare documentation so the information is being provided by json-schema-example-loader.

[2017-05-07 20:22] handrews commented on #17
I've been digging into this and it seems like it is only the theme that needs to be fixed for this.  The example-loader is passing along all of the necessary information.  We're just not making full use of it.

@phyrog thanks for the input!  I am leaning towards nested tables that start collapsed as well.  This definitely seems to be the easiest option with our internal theme (I mostly have it wor

[2017-05-07 20:30] handrews commented on #10
Let's do the following:
* Support displaying variables as `{foo}` rather than `:foo` as the former syntax not only matches URI Templates, but is also readable in situations where the variable appears somewhere other than as a full path component
* Provide an option for whether to use our nonstandard-but-essential-for-complex-structures JSON Pointer variable syntax or whether to strictly conform wi

[2017-05-07 20:43] handrews commented on #46
@tajo @Relequestual

* For things that could be contributed back to json-schema-org/json-schema-spec#136 (JSON Schema docs vocabulary), they should be moved out of the config file and into the schemas, and be given a proper meta-schema description

* For configuring the behavior of the JavaScript code, those things should stay in config.js, which should stay JavaScript and not JSON for the reasons

[2017-05-07 20:46] handrews opened #55 "Support "propertyNames" from draft-06"

[2017-05-07 20:48] handrews opened #56 "Support "patternProperties""
Please put a "thumbs up" on this issue if you need support for this keyword.  We'd like to support it, but we have no immediate need so it's currently low priority.

[2017-05-07 20:49] handrews opened #57 "Support tuple form of "items""
This is the form where "items" is an array of schemas, which describes a tuple in the instance.

Please put a "thumbs up" on this issue if you need support for this keyword. We'd like to support it, but we have no immediate need so it's currently low priority.

[2017-05-07 20:50] handrews opened #58 "Support "additionalItems""
Only relevant if #57 is implemented first.

Please put a "thumbs up" on this issue if you need support for this keyword. We'd like to support it, but we have no immediate need so it's currently low priority.

[2017-05-07 21:05] handrews commented on #25
From @apihlaja in #26:

[2017-05-07 21:15] handrews commented on #28
From a conversation a while back with @epoberezkin, most JavaScript implementations default to preserving the order of objects unless they are very large (larger than we need to worry about right now).  This is not any sort of standards conformance thing, just a de-facto behavior.

The problem here is that json-schema-example-loader transforms structures in various ways, and the ordering gets lost

[2017-05-07 21:16] handrews commented on #49
This will also need an update to json-schema-example-loader to consume the different argument.

[2017-05-07 21:19] handrews commented on #53
I'm pretty sure we're not going to support `"dependencies"` as it's rarely used, poorly understood, and seems likely to be dumped in favor of `"if"`/`"then"`/`"else"` in draft-07.

[2017-05-07 21:26] handrews opened #59 "Support "minItems", "maxItems", and "uniqueItems""

[2017-05-07 21:26] handrews opened #60 "Support "minProperties" and "maxProperties""

[2017-05-07 21:27] handrews opened #61 "Support draft-04 boolean "exclusiveMinimum" and "exclusiveMaximum""

[2017-05-07 21:28] handrews opened #62 "Support draft-06 numeric "exclusiveMinimum" and "exclusiveMaximum""

[2017-05-07 21:29] handrews opened #63 "Support "contains" from draft-06"

[2017-05-07 21:35] handrews commented on #48
I've organized as many of the issues as possible into three milestones, which I'll be working on in roughly the following order:

* [Draft-04 Conformance](https://github.com/cloudflare/doca/milestone/2)
* [Build/Run/Test](https://github.com/cloudflare/doca/milestone/4)
* [API Docs vocabulary](https://github.com/cloudflare/doca/milestone/3)
* [Draft-06 Conformance](https://github.com/cloudflare/doc

[2017-05-08 09:48] Relequestual commented on #28
Apprecaite the update on this. I'm happy with our solution for now - It works for what we need but wouldn't work for everyone. Really hoped to be pushing our API docs sooner, but it's delayed for various reasons.

[2017-05-08 10:01] Relequestual commented on #54
We are relying on this, yes, but I agree that it doesn't really make sense. Also I found a mistake in our generation code =/

Anyway. It makes sense to use the one found in the LOD schema. Is `required` even valid at the LOD level (draft-4+)? Doesn't look like it.

[2017-05-08 10:31] Relequestual commented on #46
Fair enough. In which case, my question is where do you locate your documentation content which is static text but not part of the JSON Schema file? Like the introduction section. Including it in the theme doesn't lend well to swapping themes in and out, and I don't see an alternative.

[2017-05-08 18:40] handrews commented on #54
Nope.  There are a couple of things in json-schema-example-loader that are against the spec, and I'm prioritizing fixing those ASAP.  This, the treatment of `"additionalProperties"`, and the nonstandard `"rel": "self"` in place of `"$ref": "#"` inside of `"schema"` and `"targetSchema"` are the main ones.

Other than that there are things we don't support, but we just ignore them so they are less c

[2017-05-08 19:04] handrews opened #65 "Webpack dependency check needs to support differing URI vs file extension use"
json-schema-loader requires the schema URIs (as they appear in `"$ref"` values) to match the local file names in order to track dependencies and automatically reload schemas as they change.

This means that the URIs and files either both need to end in ".json" (useful for development b/c of automatic syntax highlighting and the like), or both need to not have a file extension (which matches best p

[2017-05-08 19:34] handrews opened #66 "Support "items" without "type": "array""
Currently we only look at items if we see an array type, but JSON Schema does not require a type specification to use type-specific constraints.

[2017-05-08 19:41] handrews opened #67 "Support "type" as an array"
If done after #66, this should only need theme work as the checks for type "array" seem to be the only place in json-schema-example-loader where we actually look at the value for "type".

This is probably low priority unless there's a lot of demand.  Probably easy to implement, though, if anyone wants to pick it up after #66 is done.

[2017-05-08 19:47] handrews opened #68 "Support arrays alongside *Of keywords (and object keywords)"
If the schema is for an array, but also uses allOf/anyOf/oneOf, we ignore the *Of keywords.

We also ignore "properties" and "additionalProperties", so we should fix that at the same time even though I suspect the use case for combining array and object keywords in the same schema is very rare :-)

[2017-05-08 21:35] handrews commented on #49
@tajo reading up on this I'm questioning whether json-schema-loader is what we need in the doca suite.  Per https://webpack.js.org/api/loaders/, loaders transform source code to source code (where JSON is the source "code" in question).

We're not actually doing that anymore: we're transforming source code to in-memory JavaScript data structures, and that is what we need in order to handle circula

[2017-05-08 22:34] handrews commented on #52
I took the "theme" label off because we were not displaying "additionalProperties" before, so the part of this that is a bug fix is just in json-schema-example-loader.

Adding "additionalProperties" to the theme can be a separate, lower priority issue.

[2017-05-09 00:33] handrews commented on #54
This is merged and will be fixed in the next release of json-schema-example-loader.  I've marked it as needing a release note when we roll the version.  There are several more changes that I want to get all in one release before that happens (basically the ones mentioned in the previous comment).

[2017-05-09 00:33] #54 closed, assigned to nobody

[2017-05-09 00:34] handrews commented on #4
@Relequestual I've merged a clarification, if that's sufficient can you close this?  Otherwise let me know what else is needed.

[2017-05-09 08:50] Relequestual commented on #4
Great. Thanks.

[2017-05-09 15:38] #4 closed, assigned to nobody

[2017-05-09 17:44] handrews commented on #49
@wmonk if we decide we don't need json-schema-loader in the doca suite, we would still likely fix it for webpack 2 and keep it as an active project, we'd just change it to be standalone and give it its own issues list, etc.

[2017-05-09 17:45] #11 closed, assigned to handrews

[2017-05-09 17:51] handrews commented on #38
I'm tagging everything that is pending the next release (on any of the four repos) with the [needs release note](https://github.com/cloudflare/doca/issues?q=label%3A%22needs+release+note%22+is%3Aclosed) label once they are closed.

When we do a release, I will search for closed issues with that label, and write up a comprehensive set of release notes.

[2017-05-09 18:21] handrews commented on #67
Actually, @Relequestual fixed this already for doca-bootstrap-theme so I just need to fix it in the CF theme apparently :-P

[2017-05-09 18:21] #67 closed, assigned to nobody

[2017-05-09 18:24] handrews opened #69 ""properties" adjacent to "*Of" should be merged into subschema properties"
We merge all "allOf" schemas together for documentation purposes, but if there is also a "properties" keyword present we ignore it.  We should merge it into the result of the "allOf" merge, and also into each branch of an "anyOf" or "oneOf".

Currently, this can be gotten around by using our non-standard implementation of "additionalProperties" (or in later versions where "additionalProperties" ha

[2017-05-09 18:31] handrews opened #70 "Extension keyword to leave a property out of the composite example."
Currently, we treat "extraProperties" as literally an additional "properties" object, except that it is ignored when recursing to build full examples.  This is useful behavior for fields that are rarely used, or are only used in certain situations.  [**NOTE:** In older versions of the package, we treated "additionalProperties" like this, which contradicted JSON Schema draft-04; "extraProperties" i

[2017-05-11 04:15] handrews commented on #48
Split a few things out of draft-04 conformance to track the things that are actually broken separately from the things that are just not implemented:

[Draft-04 no contradctions](https://github.com/cloudflare/doca/milestone/5)

[2017-05-11 09:55] Relequestual commented on #48
Great organisational work!

I probably need to modify our use of doca to make sure we're using a fixed version in production, so we can test changes in develop.

I believe doca currently doesn't specify specific versions of the theme or example loader. I wonder if it should to avoid the situation where an older release of doca no longer works because newer versions of dependancies are not backward

[2017-05-11 16:00] handrews opened #71 "Pin inter-suite dependencies"
We're about to be making a number of breaking changes, so make sure we don't dump incompatible versions on people.

For folks who have already scaffolded their apps, they will need to manually update package.json, but we can at least show the needed changes and manage things from here on out.

I think we actually took some of that out of the scaffold, but I would prefer to pin versions and require

[2017-05-11 18:22] tajo commented on #71
Bump the major versions. That's why we use semver. Pinning deps is bad.

[2017-05-11 20:36] handrews commented on #71
@tajo npm install automatically respect semver?  If so I'm on board with this.  I filed this b/c I didn't have time to research it and didn't want to forget it, rather than being a particular fan of exactly pinning things.

[2017-05-11 21:09] tajo commented on #71
@handrews Yes, it absolutely does! You can play with it here: https://semver.npmjs.com/

[2017-05-11 21:11] tajo commented on #71
You can even do alpha, beta, rc releases..

[2017-05-12 14:56] Relequestual commented on #71
Ah! OK I had missunderstood the version format in package.json. I thought `^` meant, "at least", as opposed to "compatiable with THIS major version". I'm a lot less worried than I was when I commented in #48 =]

[2017-05-15 16:11] handrews commented on #49
I think this is what I want to do (folding in the bundle idea from cloudflare/json-schema-loader#3 )

* Add a parameter that allows using bundle instead of dereference
* When dereferencing, catch the error from a circular reference and print a message advising the bundle option
* Only output JSON, in order to be compliant with webpack 2 (json-schema-example-loader will stay on the current version

[2017-05-16 21:16] handrews commented on #48
PR #72 proposes a substantial refactoring of the doca suite that will produce a more flexible, extensible, and maintainable architecture (and modernize a few things along the way, since even though doca proper is less than a year old, the loader code is older than that and JS technologies change every year or two anyway).

The most significant reason for the change is that the majority of requeste

[2017-05-22 16:11] handrews commented on #48
Road map published.

For further discussion, file new issues and reference https://github.com/cloudflare/doca/blob/master/ROADMAP.md

[2017-05-22 16:11] #48 closed, assigned to nobody

[2017-05-29 15:56] eugenk commented on #5
Thanks @handrews for showing how to add HTTP request headers to the generated docs. Is there a way to add to/remove from the default headers set in the `config.js` on individual `links`? I mean something similar to
[code]

I could not find any documentation concerning this.

[2017-05-29 18:40] handrews commented on #5
@eugenk yeah I'm still discovering the extensions we have in various places- they will be documented (and eventually they will also be [namespaced](https://github.com/cloudflare/doca/blob/master/ROADMAP.md) and/or [added to the proposed API Documentation extension for JSON Schema](https://github.com/json-schema-org/json-schema-vocabularies)

You can override them- this is handled in json-schema-ex

[2017-05-29 20:02] eugenk commented on #5
Thanks for replying so quickly! It works like a charm. I'm looking forward to the updates. doca is quite useful for us.

[2017-05-30 17:39] handrews opened #73 "fix travis config for json-schema-example-loader"
per @jwineman:

It looks like you're testing on a version of Node that Yarn doesn't like.
https://github.com/cloudflare/json-schema-example-loader/blob/master/.travis.yml#L5

[2017-06-01 01:50] handrews commented on #38
Added a change log here and at json-schema-example-loader (this one links to that one when it changes the version on which it depends).

[2017-06-01 01:50] #38 closed, assigned to handrews

[2017-06-13 16:40] rwstream9 opened #75 "Empty object as response"
I have a schema that is generating an empty object `{}` in the response, but it has a `targetSchema` defined. Here's my schema:

[code]

<img width="1179" alt="screen shot 2017-06-13 at 12 38 48 pm" src="https://user-images.githubusercontent.com/1824185/27093595-574bc808-5035-11e7-9523-8ef312dfdfc2.png">

It seems it should be displaying a user object, or maybe I'm missing something.

[2017-06-14 00:08] handrews commented on #75
What code is generating the response?  Are you using the schema to generate the response on the server, or just expecting the response to match?  If you are just expecting the response to match, then you need to talk to whoever owns the server code.

[2017-06-14 13:30] rwstream9 commented on #75
Thank you for your response. I'm just using doca to generate documentation right now. None of the software that uses it has been developed yet. I thought that the targetSchema option on the "Get User" link would have a "user" object response.

[2017-06-14 14:36] handrews commented on #75
@rwstream9 Oh, I see the problem now.  Let me try this locally with our internal theme to see if this is a theme problem or one in the loaders (that process the schema before sending it to the UI).

Are you using doca-bootstrap-theme or have you customized it?

[2017-06-14 14:41] rwstream9 commented on #75
Great, thank you. I'm using the default doca-bootstrap-theme.

[2017-06-19 21:12] echu opened #76 "Query parameters via hrefSchema"
Thanks for such a neat tool.

Not sure if this is the right place to ask the question, but I'm wondering if there's support for generating documentation that have query parameters. It's part of the [json schema spec](http://json-schema.org/latest/json-schema-hypermedia.html#hrefSchema), but I'm not sure if you have plans to support it yet or if I've managed to do something wrong.

Thanks!

[2017-06-20 01:55] handrews commented on #76
@echu it is definitely in plan- I'm the one who added `hrefSchema` to the spec!

Right now my focus is on reworking some of the internals to first better and more fully support draft-04, and then (much easier at that point) add draft-06 support.  See ROADMAP.md for details.

There may be a simpler short-term way to add it if you have immediate need and can work on it.  Let me know what your timeli

[2017-06-20 15:31] echu commented on #76
Haha, cool! I didn't quite realize handrews in the spec was you. Anyway, I'm not in a rush. Thanks, again.

[2017-07-13 20:46] Codelica commented on #28
Sorry to revive this, but was curious of the current state of the issue.  Which would be most accurate?

- Still looking into preserving order internally.
- Waiting for possible schema extension for view/ui, where order could be specified.
- Not really of interest currently.

Thanks..

[2017-07-13 20:53] handrews commented on #28
@Codelica I expect that when we follow through with the ROADMAP.md work, this will be better.  Part of it is that we will do less transforming of the schema, so JavaScript's tendency to iterate at least smaller objects in the order they were read will make this less likely to be a problem.

It will also give us an easier way to hook in extension keywords, whether they are proposed standards or jus

[2017-07-13 21:58] Codelica commented on #28
Thanks for the info.

[2017-07-20 22:55] TexKiller opened #77 "Support project_folder outside of working directory"
If the project_folder is specified outside of the current directory, such as with `doca init -i ../schemas -o ../documentation`, the json schemas paths are messed up, ending up like `../../../schemas/schema.json`.

The path to the schemas should be either absolute or relative to the project_folder, and not relative to the working directory.

[2017-07-26 18:14] handrews commented on #77
@TexKiller thanks for filing this.  We also want to make doca handle multiple APIs with shared datatype schemas better in general, which involves storing schemas outside of the project directory as well, so that's at least two concerns around this.

[2017-08-24 11:23] BrianSidebotham commented on #75
Just a ping because I'm also experiencing this problem.

[2017-09-02 03:39] stephencroberts commented on #9
Is there any update on this? I would love to use this tool, but my schema has circular references. ¯\\\_(ツ)_/¯

[2017-09-02 03:49] handrews commented on #9
I've been doing some preliminary work, not all of which is visible here (a key need is to merge the code base of our internal theme and the public theme).

How extensive are your circular references?  If it is just referencing the containing file from within a request ("schema") or response ("targetSchema"), there is a workaround for that.

[2017-09-02 05:54] jculvey commented on #9
Dude! @stephencroberts I went to college with you!

Small world.

[2017-09-02 14:34] stephencroberts commented on #9
@handrews: Good to hear. Unfortunately, I think my circular references are pretty nasty:

[code]

The list of components can contain any of the other components.

[2017-09-02 14:37] stephencroberts commented on #9
@jculvey I remember! So funny meeting here of all places after a decade.

[2017-09-02 15:01] handrews commented on #9
@stephencroberts yeah, tree structures won't work right now.

What I've done so far is create a generic visitor function for hyper-schema that can apply transformations in a modular way.  I need to replace pretty much all of the guts of json-schema-example-loader with that (it will also get released as part of a more generic JSON Hyper-Schema utility package, probably).

I still need to solve the

[2017-09-02 15:37] stephencroberts commented on #9
I'm speaking out of ignorance here, but how do the validation tools handle circular refs? Some of them fail, but it seems the majority of them have figured it out.

I don't really have a timeline -- it's more of a nice-to-have. I'm only interested in docs for a JSON Schema, not a Hyper-Schema. I would like to provide some readable documentation on a pretty complicated schema and doca seems to be t

[2017-09-02 17:53] handrews commented on #9
References are supposed to be evaluated lazily, in the context of an instance.  So while your tree schema would produce infinite recursion if we tried to flatten it on its own, given an instance document you will eventually reach leaf nodes and stop processing references.

As doc generators work without instances, they need to have other ways to recognize and handle cycles.

I assume you mean the

[2017-09-04 10:10] shenghu opened #78 "doca init -title <Title>"
Better to allow user to set `title` via `doca init` so that the the value is set to config.js.

[2017-09-04 10:12] shenghu opened #79 "Better to be able to load JSON schema files in runtime"
Is it possible not to compile JSON schema files. Instead, load schema files in runtime, especially from a URL?

[2017-09-04 18:21] handrews commented on #79
@shenghu what do you mean by runtime?  Do you want to use this to browse dynamically generated documentation in some way?  Or are you talking about interacting with the API (making calls over HTTP) based on the schemas?  In both cases, the answer is "not currently, but it is something I'm actively looking into."

If neither is what you have in mind, could you go into a bit more detail?

Either way

[2017-09-04 18:33] handrews commented on #76
As an update, I'm focused on getting JSON Hyper-Schema draft-07 out the door which includes more proposed functionality in this area, notably [`hrefPointers`](https://github.com/json-schema-org/json-schema-spec/pull/386)

I hope to then add full draft-07 support to the doca suite.  I'm hoping that draft-07 will be pretty close to feature-complete for Hyper-Schema.

[2017-09-05 03:28] shenghu commented on #79
@handrews I mean whether doca can provide a similar online editor like `http://editor.swagger.io/` which can load schemas from a url. If editor is not easy, a viewer is mostly wanted to allow user to view json schema in a nice way.

Today, Doca is good. It would be better if it needn't compile schema files, but simply load ones from anywhere.

BTW, another benefit of online viewer/editor is that u

[2017-09-05 03:32] shenghu commented on #79
BTW, I create this theme, [doca-events-api-theme](https://github.com/shenghu/doca-events-api-theme),  (just start) which is to generate non-REST document, e.g. events. The theme can group schema files by `category`. `category` is not standard in JSON schema. But let's see if there is a better way.

[2017-09-05 03:54] handrews commented on #79
@shenghu I will respond to your other points later, but just so that you know I've been changing the output of json-schema-example-loader (eventually it will not be so different from the standard schema, just with some convenience data added).  The current doca-bootstrap-theme does not use this new version of the example loader, so you might want to look at the example loader's changelog in its re

[2017-09-05 04:00] handrews commented on #79
I would love to have an editor like that, but don't see a way to staff that work from within the company right now.  Of course if anyone wants to work on it as an open source contribution I'd be happy to coordinate :-)

I am also an author/editor of the JSON Schema draft specifications, and my focus right now is on publishing draft-07.  Future doca work will probably prioritize moving to that draf

[2017-09-05 15:16] handrews commented on #75
@rwstream9 @BrianSidebotham my apologies for dropping this.  I will take a look and follow up soon.

[2017-09-05 15:18] handrews commented on #73
This was fixed with https://github.com/cloudflare/json-schema-example-loader/commit/37a1ea9b297616499bb4c4847497c24dde0d0c4c#diff-354f30a63fb0907d4ad57269548329e3

[2017-09-05 15:18] #73 closed, assigned to nobody

[2017-09-12 16:57] BrianSidebotham commented on #75
@handrews No problem. We have great documentation because of this tool! Thanks.

[2017-09-12 17:12] handrews commented on #75
My apologies for dropping this *again*, there was a lot going on over the summer (in particular, I think I went on vacation right around then and just forgot :-/  )

[2017-10-09 12:38] Reedian opened #80 "JSON Schemas external files"
I have a project where during the tests I'm validating API JSON responses against written JSON schemas. My idea is to generate API documentation from it with minimal effort.

I have tried to reference to my schemas from the base schema without any result.

For example, I have base schema file for `/confirmation` resource - `confirmation_api.json`:
[code]
and my schema file which I use for testing

[2017-10-09 15:33] handrews commented on #80
@Reedian in general, references to external files are supported.

Where is the `properties: { "$ref": "show_confirmation.json#/properties" }` part?  I don't see it in either file.  Also, what are the file names of each of these and are they in the same directory?  Is the second one `show_confirmation.json`?

[2017-10-10 09:14] Reedian commented on #80
@handrews I haven't included `properties` because it is not the part of my question, only the sidenote. Updated original message with file names.

[2017-10-10 15:57] handrews commented on #80
@Reedian assuming those two files are in the same directory, that should work.

What is the error you are seeing?

[2017-10-11 10:04] Reedian commented on #80
@handrews exactly, they are in the same directory. I'm not seeing any error. It just does not get rendered.

![image](https://user-images.githubusercontent.com/10762340/31434155-decd0a72-ae7b-11e7-9a37-37f230add4c4.png)

As you can see on the screenshot above the response object is empty. My expectations were rather to see the response which I have defined in `show_confirmation.json`.

[2017-10-12 04:48] handrews commented on #80
@Reedian I have reproduced this with both the bootstrap and internal cloudflare theme, and I am baffled.  Although this seems to be the same as #75 which I have shamefully forgotten about repeatedly (for a variety of reasons).  I'm going to poke at both examples a bit more, but may close this in favor of tracking the issue in the older ticket.

[2017-10-12 04:50] handrews commented on #75
I'm kind of embarrassed to even comment on this after disappearing for another month, but I finally tried this out.

I'm baffled.  Even when I copy the user schema down to `targetSchema` it's still empty (does that happen to you? if you're still interested in this...)

Of course Cloudflare's API docs use `$ref` and `targetSchema` all over the place so there must be something else going on here  Bu

[2017-10-18 09:46] Reedian commented on #80
@handrews okay I will close the issue. Just for information please tell me are you planning to fix it anytime soon?

[2017-10-18 17:11] handrews commented on #80
@Reedian I'm still trying to figure out why it happens, given that a similar construct works in numerous other doca-generated projects.  I definitely want to fix it.

[2017-10-19 16:02] Reedian commented on #80
@handrews closing this one. Fingers crossed that you will find solution :)

[2017-10-19 16:02] #80 closed, assigned to nobody

[2017-10-20 02:51] handrews commented on #75
@rwstream9 @BrianSidebotham @Reedian OK I ***finally*** figured this out.  There are a couple of things going on here:

1.  Doca expects each file to have endpoints related to a single class/type/concept/whatever you want to call it.  Most often, the endpoints are for an individual resource of that class, plus a collection of instances of the class.  What's probably not documented anywhere is that

[2017-10-23 10:14] Reedian commented on #75
@handrews I'm not really sure if I understand you. Do you mean that every `object` to which I refer to in `targetedSchema` must be defined in properties of root file? In my example, I have every exposed resource in an external file.

[2017-10-30 13:26] Reedian commented on #75
@handrews any update on this issue?

[2017-10-30 20:22] handrews commented on #75
Here's where each of the three sets of data come from.  You can `$ref` all of these to the same thing (or any two of them to the same thing).  You can also put `"rel": "self"` in place of a schema under `"schema"` and/or `"targetSchema"` and it will act somewhat like `"$ref": "#"` except that it is evaluated _after_ all `"$ref"`s.

_NOTE: Yes, it's confusing that this is `"rel": "self"` when it ha

[2017-11-03 12:16] Reedian commented on #75
@handrews it seems to work, awesome!

Let's discuss another case. I have a `user_item.json` schema where I have defined all properties for a user object.
[code]
and I want to ref to this schema from my api schema file where I describe endpoints:
[code]
In result I have empty user object:
![image](https://user-images.githubusercontent.com/10762340/32373312-f216aeec-c098-11e7-9e39-a9a6149a429b.png)

[2017-11-07 23:19] krystalmonolith commented on #75
FYI: I can reproduce this issue with an example with no hyperschema elements:

Given these definitions:
[code]

And this root schema:
[code]

Which successfully validates the following JSON instance with ajv-cli:
[code]

I get the same `{}` output on the served web page.

[2017-11-08 00:19] handrews commented on #75
@Reedian That really should work.  Are you certain that it is loading and de-referencing "user_item.json" correctly?  You can find out if it's loading by having json-schema-loader dump its output to console.  And then you can figure out if the dereferenced file is correctly connected via the non-standard `"rel": "self"` by dumping the output of json-schema-example-loader.  I believe in both packag

[2017-11-08 00:21] handrews commented on #75
@krystalmonolith I believe doca ignores anything without hyperschema `links`.  It's not intended as a data type documentation system, just an API documentation system.  You could probably get it to work with non-API data types with a little tinkering, but it's not in-scope for the project as it currently exists.

[2017-11-30 13:05] Reedian commented on #75
@handrews sorry for the late response, but I had to abandon doca in my project as I had no success integrating it with my json-schemas. Now I have time to dive into the topic.

I think that my `user_item.json` file is loading correctly as I see no issues you have described. After starting the project via `npm start` and visiting `localhost:8000` there is no issues in my console neither on page. It

[2017-11-30 17:45] handrews commented on #75
I really wish we were able to better support/extend this tool.  There's a lot of "almost but not quite" going on.  I'll have to see if I can reproduce what your are now seeing.

[2017-11-30 20:42] handrews commented on #52
This should have been closed with the example-loader fix back in May, I believe.  Although the current bootstrap theme cannot make use of it, that's no worse than it was.

[2017-11-30 20:42] #52 closed, assigned to handrews

[2017-12-01 02:41] handrews commented on #71
@Relequestual:

https://github.com/cloudflare/doca-bootstrap-theme/pull/8

sets up a peer dependency to avoid the newer, incompatible theme being used with an older example loader.  Is that sufficient for this issue given the other semver stuff?

[2017-12-01 02:43] handrews commented on #30
@Relequestual do you remember exactly what was going on here?  https://github.com/cloudflare/doca-bootstrap-theme/pull/8 fixes a ton of stuff with the bootstrap theme, and (based on running our own public API docs through that theme) `oneOf` works just fine.

[2017-12-01 16:06] Relequestual commented on #30
I can't check it myself now, but if you say `oneOf` works fine, I'll accept and close.

[2017-12-01 16:06] #30 closed, assigned to nobody

[2017-12-01 16:09] Relequestual commented on #71
Sounds good to me! Close away! (I cannot)

[2017-12-01 17:46] handrews commented on #46
Internally, our theme (as of recently) has a hook for intro text.  Let's file an issue for that and close this one out as it's gotten quite muddled.

[2017-12-01 17:46] #46 closed, assigned to nobody

[2017-12-01 17:50] handrews commented on #46
@Relequestual Oh actually that fix was in the doca scaffolding project not the theme so it's already available to everyone.  If you scaffold a new app, there is now an introduction.js React component with placeholder text and instructions to modify.  So I think this is all now addressed.

[2017-12-01 17:50] handrews commented on #71
Cool, I'll close once that PR is approved and merged.

[2017-12-01 20:37] handrews commented on #50
Fixed in doca-bootstrap-theme 1.0.0

[2017-12-01 20:37] #50 closed, assigned to nobody

[2017-12-01 20:37] handrews commented on #59
Fixed in doca-bootstrap-theme 1.0.0

[2017-12-01 20:37] #59 closed, assigned to nobody

[2017-12-01 20:37] handrews commented on #60
Fixed in doca-bootstrap-theme 1.0.0

[2017-12-01 20:37] #60 closed, assigned to nobody

[2017-12-01 20:37] handrews commented on #61
Fixed in doca-bootstrap-theme 1.0.0

[2017-12-01 20:37] #61 closed, assigned to nobody

[2017-12-01 20:43] handrews commented on #17
Fixed in doca-bootstrap-theme 1.0.0, which will get pulled in to apps scaffolded with doca 0.4.0 as soon as the PR on that repo is accepted.  For now, you can update existing apps to json-schema-example-loader 3.0.0 and doca-bootstrap-theme 1.0.0 (in that order due to peer dependency).

@phyrog I did indeed go with nested tables, collapsed by default.  I apologize for the delay- this got put on ho

[2017-12-01 20:43] #17 closed, assigned to nobody

[2017-12-05 19:26] handrews commented on #71
Fixed with doca-cf-theme 1.0.0 and doca 0.4.0

[2017-12-05 19:26] #71 closed, assigned to nobody

[2018-01-14 20:25] pr0digi commented on #75
I've ran into the same issue and it really took me time time to figure it out so both object properties and response body would show with referenced schema. As example I'll take schema of @Reedian. Here is its updated version.

**confirmation.json**:
[code]

**user_item.json**:

[code]

The trick is in defining the object in definitions, providing all examples and using **$ref** instead of **rel**

[2018-03-16 14:33] spifd opened #83 "Array of objects is empty in generated documentation"
Hi,

I've encountered issue while generating documentation for array of different objects (using oneOf).

Actually, the generated documentation of the array items looks empty. I've looked to other issues but not sure they are the same. Maybe I did something wrong as I'm using doca for first time and I'm not that familiar with JSON schema (suggestion: would be great if you could publish the full sc

[2018-04-05 11:11] alex0vi commented on #76
Hi, thanks for this great tool !
I need your help for solve this issue, I've checked it before and I think isn't updated to draft-07 yet,
so my problem is that I need to put a query string into endpoint, like this :

`{
        limit: 10,
        offset: 0,
        _filter: {
            types: ["WEB"],
            labels: ["music", "home"],
            qTerm: "in",
            cubesRange: {

[2018-04-05 19:24] handrews commented on #83
@spifd sorry for not replying to much sooner, my spam filter started eating some (but not all) GitHub notifications and it took me a few weeks to notice.

This will be addressed in the upcoming revamp of the doca suite.  The back-end code will be open-sourced to https://github.com/cloudflare/json-schema-tools within the next week.  This will be a monorepo of several packages related to JSON Schema

[2018-04-05 19:25] handrews commented on #83
In the meantime- what happens if you add `example` to both "a" and "b"'s schemas?  Doca in some cases only notices things that have examples.

[2018-04-30 22:24] handrews commented on #5
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

Closing in favor of @cloudflare/json-schema-tools#3

[2018-04-30 22:24] #5 closed, assigned to handrews

[2018-04-30 22:27] handrews commented on #9
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

This issue is now tracked at cloudflare/json-schema-tools#2

[2018-04-30 22:27] #9 closed, assigned to nobody

[2018-04-30 22:28] handrews commented on #51
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

This is not a problem in the new packages, so closing.

[2018-04-30 22:28] #51 closed, assigned to nobody

[2018-04-30 22:30] handrews commented on #47
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:30] #47 closed, assigned to nobody

[2018-04-30 22:32] handrews commented on #49
`json-schema-loader` has been deprecated in favor of the new `@cloudflare/json-schema-ref-loader` in the https://github.com/cloudflare/json-schema-tools repository.  `@cloudflare/json-schema-ref-loader` does not use the extra parameter.  The requested bundling feature is tracked as cloudflare/json-schema-tools#2

[2018-04-30 22:32] #49 closed, assigned to handrews

[2018-04-30 22:33] handrews commented on #57
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:33] #57 closed, assigned to nobody

[2018-04-30 22:34] handrews commented on #65
This is fixed in the new `@cloudflare/json-schema-transform` and `@cloudflare/json-schema-apidoc-loader` packages, which will (hopefully soon) have a new UI built on top of them.

They live in the cloudflare/json-schema-tools monorepo.

[2018-04-30 22:34] #65 closed, assigned to nobody

[2018-04-30 22:34] handrews commented on #58
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:34] #58 closed, assigned to nobody

[2018-04-30 22:34] handrews commented on #55
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:34] #55 closed, assigned to nobody

[2018-04-30 22:34] handrews commented on #63
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:34] #63 closed, assigned to nobody

[2018-04-30 22:35] handrews commented on #56
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:35] #56 closed, assigned to nobody

[2018-04-30 22:35] handrews commented on #68
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:35] #68 closed, assigned to nobody

[2018-04-30 22:35] handrews commented on #66
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:35] #66 closed, assigned to nobody

[2018-04-30 22:35] handrews commented on #62
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:35] #62 closed, assigned to nobody

[2018-04-30 22:36] handrews commented on #32
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:36] #32 closed, assigned to nobody

[2018-04-30 22:37] handrews commented on #70
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new package uses `cfOmitFromExample` as the new extension keyword, and does not support `extraProperties`

[2018-04-30 22:37] #70 closed, assigned to nobody

[2018-04-30 22:37] handrews commented on #18
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it (although as no one has really asked for it, it may not be in the initial batch of work).  Feel fr

[2018-04-30 22:37] #18 closed, assigned to nobody

[2018-04-30 22:38] handrews commented on #12
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 22:38] #12 closed, assigned to nobody

[2018-04-30 23:06] handrews commented on #79
@shenghu there is now a new doca back-end (and hopefully soon a new set of themes) at the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  The new doca is `@cloudflare/doca`, to keep it separate from the existing `doca`, which is still usable but will not be update except by volunteer contributions.

The new back-end outputs valid JSON Schemas (optionally with extens

[2018-04-30 23:06] #79 closed, assigned to nobody

[2018-04-30 23:06] handrews commented on #76
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 23:06] #76 closed, assigned to nobody

[2018-04-30 23:17] handrews commented on #28
@Codelica

This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new back-end does a lot less re-arranging, so it's more likely to preserve order.  It depends a lot on how much you use `allOf`, I think (and of course, it's depe

[2018-04-30 23:17] #28 closed, assigned to nobody

[2018-04-30 23:18] handrews commented on #10
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  The new packages use URI Templates per RFC 6570.

The new UI is still being designed, but the back-end already fills out example curl requests using RFC 6570.  Feel free to file at cloudflare/json-schema-tools if you want to track work related to this in the new

[2018-04-30 23:18] #10 closed, assigned to nobody

[2018-04-30 23:18] handrews commented on #16
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 23:18] #16 closed, assigned to nobody

[2018-04-30 23:23] handrews commented on #25
This set of packages is being deprecated in favor of the JSON Schema Tools monorepo.  Contributions are still welcome here but most work will be done on the new packages.

This is tracked for the new repo at @cloudflare/json-schema-tools#5

[2018-04-30 23:23] #25 closed, assigned to nobody

[2018-04-30 23:24] handrews commented on #15
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 23:24] #15 closed, assigned to nobody

[2018-04-30 23:24] handrews commented on #7
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 23:24] #7 closed, assigned to nobody

[2018-04-30 23:24] handrews commented on #6
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-04-30 23:24] #6 closed, assigned to nobody

[2018-04-30 23:26] handrews commented on #14
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

This issue is now tracked as cloudflare/json-schema-tools#6

[2018-04-30 23:26] #14 closed, assigned to nobody

[2018-04-30 23:27] handrews commented on #69
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but this issue is fixed in the new packages by using `cfOmitFromExample` as a keyword within a `properties` subschema instead of having a sep

[2018-04-30 23:27] #69 closed, assigned to handrews

[2018-05-01 00:18] Codelica commented on #28
Thanks for the update.  In the end we just had too many custom needs, so I ended up rolling my own doc output with the help of json-schema-ref-parser, which actually worked quite well and gave us more control over ordering and other things -- at a cost of course ;)  Will check out your new collection though...  thanks!

[2018-05-01 01:58] handrews commented on #28
@Codelica no worries- I knew that we weren't moving fast enough here to keep everyone.  Hopefully with the new codebase sticking more closely to the JSON Hyper-Schema spec we can build up a more active community.

[2018-05-01 18:32] handrews commented on #53
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully we don't completely ignore any draft-04 features there.

[2018-05-01 18:32] #53 closed, assigned to nobody

[2018-05-01 19:25] handrews commented on #83
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed, but hopefully this should be handled in it.  Feel free to file at cloudflare/json-schema-tools if you want to track this specifically.

[2018-05-01 19:25] #83 closed, assigned to nobody

[2018-05-01 19:29] handrews commented on #78
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

Note that the new UI is still being designed.

This issue has been filed as cloudflare/json-schema-tools#7

[2018-05-01 19:29] #78 closed, assigned to nobody

[2018-05-01 19:30] handrews commented on #77
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

Note that the new UI is still being designed.

This issue has been filed as cloudflare/json-schema-tools#8

[2018-05-01 19:30] #77 closed, assigned to nobody

[2018-05-01 19:31] handrews commented on #44
The JSON Schema Tools project which deprecates this one uses Prettier.

[2018-05-01 19:31] #44 closed, assigned to nobody

[2018-05-01 19:45] handrews commented on #40
This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

The new UI is still being designed.

This issue has been transferred to cloudflare/json-schema-tools#9

[2018-05-01 19:45] #40 closed, assigned to nobody

[2018-05-01 19:46] handrews commented on #36
@tajo feel free to file this on json-schema-tools :-)

[2018-05-01 19:46] #36 closed, assigned to nobody

[2018-05-01 19:48] handrews commented on #75
@pr0digi

This set of packages is being deprecated in favor of the [JSON Schema Tools](https://github.com/cloudflare/json-schema-tools) monorepo.  Contributions are still welcome here but most work will be done on the new packages.

One of the big reasons for rewriting the Doca suite into a new set of packages was to adhere closely to the JSON Hyper-Schema specification, and make it easier to supp

[2018-05-01 19:48] #75 closed, assigned to nobody

[2018-06-07 13:36] BrianSidebotham opened #87 "Unwanted Getting Started Section"
I know this repo is deprecated, but as it's your marked production one I'm putting the issue here.

I've come to build our project again and the documentation now has a large section called "Getting Started" which is full of empty boxes. This is the first thing people see when they're looking at the API documentation.

How can we remove this section? Is it in the default template, or is this somet

[2018-06-07 15:39] BrianSidebotham commented on #87
Just as an update, both the `events-api` and `node-docson` templates don't show this getting started section and both look visually comparable to the default bootstrap theme.

[2018-06-08 00:08] handrews commented on #87
@BrianSidebotham filing this issue here is totally appropriate!  I should probably reword that deprecation notice a bit, I did the update in a bit of a rush on my way out the door for an extended sabbatical for the tech industry (obviously I'm still keeping my hand in somewhat, though!)

The intro section is explained in and controlled by the [schema.js](https://github.com/cloudflare/doca/blob/mas

[2018-06-11 22:06] BigDataKatha opened #88 "Menu links not working"
Doing some research, I couldn't find an answer why the menu links are not working.

I have included the following in the schema.json file:

[code]

However, when clicking on the [menu link](https://everymundo.github.io/emDataStandards/documentation/build/#city-city), it doesn't direct me to the relevant section of the documentation. I believe that the issue is related to creating the double #city-

[2018-06-11 23:56] handrews commented on #88
Yeah, that's definitely related.  The HTML `id` is "city" but the anchor in the menu link is "city-city".  Not sure why.  The relevant code would be in [doca-bootstrap-theme](https://github.com/cloudflare/doca-bootstrap-theme).  Probably [somewhere around here](https://github.com/cloudflare/doca-bootstrap-theme/blob/master/components/sidebar.js#L119) if you want to dig into debugging it some.

Wha

[2018-06-15 22:01] BigDataKatha commented on #88
@handrews I found:

[code]

I am using the version 3.1.0

[2018-06-15 22:06] BigDataKatha opened #89 "Potential security vulnerability in one of your dependencies"
I am not sure how to solve the following message about vulnerability. I checked the closed issues if someone else has encountered this issue, but haven't found anything.

![image](https://user-images.githubusercontent.com/20860424/41491342-918b4fe0-70c6-11e8-8a93-c76ce470ff5a.png)

I already tried:

*npm install -g npm@latest*

then

*npm audit fix*

[2018-06-15 23:12] handrews commented on #89
@BigDataKatha I might be overlooking something obvious, but does it say which dependency has the vulnerabilities?

[2018-06-15 23:17] handrews commented on #88
Hmm... yeah nothing jumps out at me from that either, thanks for taking a look.

@tajo any ideas here?

[2018-06-19 16:56] BigDataKatha commented on #89
@handrews , I don't see which dependency has the vulnerabilities. It even says underneath the alert that no dependencies were found. Should I just dismiss the message?

[2018-06-28 22:00] kadiocolzani commented on #76
Hi!

I'm starting a new project using doca and i still not understand how to add `hrefSchema` when generating documentation of my API. The `JSON Schema Tools` monorepo is not helping.

Thanks for the wonderful tool.

[2018-06-29 00:00] handrews commented on #76
@kadiocolzani unfortunately the system is in a bit of an awkward state where there is a new back-end (JSON Schema Tools) but not yet a new front-end.  I'm not sure if anyone at Cloudflare is actively working on a new front-end yet.  @tajo, @tomlikestorock, or @zackproser might be able to comment.  I am currently taking time away from the tech industry for personal reasons, but still working on the

[2018-08-13 18:27] rumanhassan opened #90 "Set up issue"
I cloned the repo to run the example. When i execute doca init command it throws error:
`doca command not found`

OS details:
MAC OS

Any help is appreciated.

[2019-04-06 10:40] ilexius commented on #87
I'm struggling to understand the connection between getting-started.json and introduction.js.
Maybe you can help me a bit. In introduction.js there is some content with articles, h2, and "Lorem ipsum" text. When generating the example, I can't see the "Lorem ipsum" anywhere. Were is it supposed to be displayed?
I was hoping to use this file to show some introduction content.

[2020-06-16 15:14] CaptionOption opened #92 "Using classpath in json string causes npm start to crash"
In the json schemas in my project I use the word `classpath` when using `$ref` in order to allow schemas to reference other schemas. This causes `doca` to crash.

More detail:

My `SampleKeyValueReferenceSchema.json` file is the following
[code]
`SampleKeyValueSchema.json` is another schema.

When I run `npm start` in the json schema folder that is generated, I get the following error:

[code]

Ho

[2021-10-31 23:53] karlcow opened #93 "Menu takes a lot of time to open and close on Firefox and Safari"
Steps to reproduce
1.    open Firefox Nightly 95
2.    reduce the window to something more like a mobile size
3.    Go to https://api.cloudflare.com/#getting-started-endpoints
4.    Wait for the page to load
5.    Click on the top left menu icon (3 bars)
6.    wait

Menu is eventually opening
Click again on the top left menu icon
Menu is closing and the page reappears.

This is happening also on S